<<<<<<< HEAD
footer{
    Background-color:#00FF00;
    height:60px;
    width:100%;
    position: absolute;
    bottom:0;
    text-align:center;
    line-height:60px
=======
footer {
    background-color:#00FF00;
    height:60px;
    width:100%;
    position:fixed;
    bottom: 0;
}

p {
    text-align:center;
    line-height:30px
>>>>>>> d1b0663103b420cb666d8f41560886820125c407
}
