footer {
<<<<<<< HEAD
	background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
	bottom: 0;
=======
    background-color: white;
    height:60px;
    width:100%;
    border-top: 1px solid #CCCCCC;

    bottom: 0;
}

p {
    text-align:center;
    line-height:30px;
>>>>>>> d1b0663103b420cb666d8f41560886820125c407
}
